.filter {
    margin-bottom: 12px;
}

.rc-slider-track {
    background-color: var(--primary-color);
    filter: brightness(0.9);
}

.rc-slider-handle, .rc-slider-handle:disabled {
    border: var(--primary-color);
    background-color: var(--primary-color);
}

.rc-slider-track.rc-slider-track--is-dragging {
    background-color: var(--primary-color);
    filter: brightness(1.3);
}

.filter label span {
    margin-left: 6px;
}